@import "vars/index.scss";

.mh-facts-list {
  .mh-fact-provider-header {
    margin-bottom: $spaceBetweenComponentsXxs;
    font-family: $fontFamilyRegular;
    font-size: $fontSizeLg;

    .fact-provider {
      color: $colorDarkGrayTable;
    }

    .fact-provider-name {
      word-break: normal;
    }
  }

  .mh-fact-group {
    + .mh-fact-group {
      margin-top: $spaceBetweenComponentsLg;
    }

    .mh-button-container {
      text-align: center;
    }

    table {
      width: 100%;

      td {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 18px;
        border-bottom: 1px $colorGrayB3 solid;

        .mh-loader .mh-spinner::before {
          height: 15px;
          width: 15px;
        }

        @media #{$xlUp} {
          padding-right: 40px;
        }

        @media #{$smDown} {
          border-bottom: none;
        }
      }

      th {
        text-align: left;
        font-size: $fontSizeSm;
      }

      @media #{$mdDown} {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }
    }
  }
}
