@import "vars/index.scss";

.passport-owned-by {
  border-bottom: 1px $colorGrayB3 solid;
  margin-bottom: 30px;
  padding-bottom: 30px;

  h2 {
    color: $colorDarkGrayTable;
    font-size: 28px;
  }

  .owned-by {
    margin-right: 130px;
    text-transform: uppercase;
    color: $colorGrayB1;
  }
}
