@import "vars/index.scss";

.mh-passport-list {
  padding: 20px 20px 0 20px;

  .mh-table .responsiveTable tr {
    border: unset;
    border-radius: unset;
    box-shadow: unset;

    &:not(:last-child) {
      border-bottom: 1px $colorGrayB1 solid;
    }
  }
}

.mh-facts-list {
  padding: 20px;
}

.mh-passport-list, .mh-facts-list {
  background-color: $colorWhite;
  border-radius: 5px;

  a {
    word-break: break-all;
  }

  th, .tdBefore {
    text-transform: uppercase;
    color: $colorGrayB1;
    font-size: $fontSizeSm;
  }

  h2 {
    margin-top: 0;
  }

  h2, tbody {
    color: $colorDarkGrayTable;
  }
}
