@import "vars/index.scss";

.mh-passport-list, .mh-facts-list {
  background-color: $colorWhite;
  padding: 20px;
  border-radius: 5px;

  a {
    word-break: break-all;
  }

  th {
    text-transform: uppercase;
  }

  h2 {
    margin-top: 0;
  }

  h2, tbody {
    color: $colorDarkGrayTable;
  }
}
