@import "vars/index.scss";

.mh-facts-list {
  padding: 20px;
}

.mh-passport-list, .mh-facts-list {
  padding: 20px 20px 5px   20px;
  background-color: $colorWhite;
  border-radius: 5px;

  a {
    word-break: break-all;
  }

  h2 {
    margin-top: 0;
  }

  h2, tbody {
    color: $colorDarkGrayTable;
  }
}
