@import "vars/index.scss";

.mh-table {
  .responsiveTable {
    overflow-x: auto;
    border-spacing: 0;

    @media screen and (min-width: 40em) {
      td {
        padding: 5px;
        vertical-align: top;
        min-width: 80px;
      }

      th {
        padding: 5px;
        text-align: left;
        white-space: nowrap;
      }
    }

    @media screen and (max-width: 40em) {
      font-size: $fontSizeSm;

      tr {
        padding: 7px;
        border: 1px solid $colorGrayB3;
        border-radius: $borderRadiusSm;
        box-shadow: boxShadowSm($colorBlack);
        margin-bottom: $paddingSm;
      }

      td {
        &.pivoted {
          padding: 0 !important;
          width: 100%;
          white-space: normal;

          .tdBefore {
            font-family: $fontFamilyRegular;
          }

          + td.pivoted {
            padding-top: $paddingSm !important;
          }
        }

        .tdBefore {
          position: static;
          width: 100%;
        }
      }
    }
  }

  @media #{$mdDown} {
    font-size: 15px;
  }
}
