@import "vars/index.scss";

.ca-text-input.with-button {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px  ;
  font-size: 16px;
}

.mh-btn {
  background-color: $colorLightBlue;
  border-radius: 0 5px 5px 0;
  color: $colorBlue;
  box-shadow: unset;
  padding-left: 36px;
  padding-right: 36px;
  position: relative;
  font-size: 16px;
  line-height: 33px;
}
