@import "vars/index.scss";

.ca-text-input.with-button {
  width: 80%;
  font-size: 16px;
}

.mh-btn {
  background-color: $colorLightBlue;
  border-radius: 0 5px 5px 0;
  color: $colorBlue;
  box-shadow: unset;
  padding-left: 36px;
  padding-right: 36px;
  position: relative;
  top: 1px;
}
