@import "vars/index.scss";

.passport-search-button {
  width: 130px;
  height: 55px;
  margin-left: -130px;
  background-color: $colorLightBlue;
  border-radius: 0 5px 5px 0;
  color: $colorBlue;
  box-shadow: unset;
  position: absolute;
  font-size: 16px;

  &:after {
    border-bottom-right-radius: unset;
    border-top-left-radius: unset;
  }

  &:disabled {
    opacity: unset;
  }

  @media #{$smDown} {
    width: 55px;
    background-image: url('~images/search.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -55px;
  }

  .search-text {
    @media #{$smDown} {
      display: none;
    }
  }
}
