@import "vars/index.scss";

.ca-text-input {
  border-radius: $borderRadiusXs;
  box-shadow: boxShadowSm($colorBlack);
  width: 100%;
  min-height: $minInputSize;
  border: 1px solid rgba($colorGrayB2, 1);
  padding: $spaceBetweenComponentsXxs;
  outline: 0;
  transition: border 0.3s;
  font-family: $fontFamilyRegular;
  font-size: 16px;

  &:focus {
    border: 1px solid $colorBlue;
    box-shadow: boxShadowMd($colorBlue);
  }

  &::placeholder {
    color: $colorGrayB2;
  }

  &.with-button {
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px  ;
    font-size: 16px;
    padding-right: 130px;

    @media #{$smDown} {
      padding-right: 55px;
    }
  }
}

