@import "vars/index.scss";

.ca-text-input {
  border-radius: $borderRadiusXs;
  box-shadow: boxShadowSm($colorBlack);
  width: 100%;
  min-height: $minInputSize;
  border: 1px solid rgba($colorGrayB2, 1);
  padding: $spaceBetweenComponentsXxs;
  outline: 0;
  transition: border 0.3s;
  font-family: monospace;

  &:focus {
    border: 1px solid $colorBlue;
    box-shadow: boxShadowMd($colorBlue);
  }

  &::placeholder {
    color: $colorGrayB2;
  }
}
