@import "vars/index.scss";

.mh-description {
  color: $colorGray;
  font-size: $fontSizeMd;
  font-family: $fontFamilyLight;
  line-height: 26px;
  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: $spaceBetweenComponentsSm;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  @media #{$smDown} {
    margin-bottom: $spaceBetweenComponentsXs;
  }
}
