@import "vars/index.scss";

.mh-with-button {
  border-radius: 5px 0 0 5px;
  margin: 0;
}

.mh-view-value, .mh-download {
  background-color: $colorViewButton;
  border: none;
  font-family: $fontFamilyRegular;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
  word-wrap: normal;
  word-break: normal;
  color: $colorBlue;
  margin-left: 0;

  &:hover {
    opacity: 0.5;
  }
}

.mh-input-with-button {
  display:flex;
  flex-direction:row;
}
