@import "vars/index.scss";

.advanced-search {
  color: $colorBlueB4;
  font-size: $fontSizeSm;
  margin-left: 20px;
  margin-top: 13px;

  .advanced-search-text {
    &:hover {
      cursor: pointer;
    }
  }
}
