@import "vars/index.scss";

.mh-network-picker {
  .mh-selected-network-box {
    padding: 10px 18px;
    background-color: lighten($color: $colorBlueB1, $amount: 10);
    text-align: left;
    border-radius: $borderRadiusXs;
    font-size: $fontSizeSm;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;

    .mh-value {
      color: $colorWhite;
      font-family: $fontFamilyMedium;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      word-wrap: none;
      white-space: nowrap;
    }
  }
}

.mh-network-picker-popup-content {
  color: $colorGray;
  font-size: $fontSizeMd;
  width: 250px;
  max-width: 100%;

  button {
    background-color: $colorWhite;
    color: $colorBlue;
    border: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    min-height: 40px;
    cursor: pointer;
    border-radius: $borderRadiusXs;
    transition: opacity 0.3s;
    margin-bottom: $spaceBetweenComponentsXxs;
    font-family: $fontFamilyRegular;

    &:disabled {
      cursor: default;
      color: $colorDarkGrayTable;
    }

    &:hover:not(:disabled) {
      opacity: 0.8;
    }
  }

  input {
    padding: $paddingSm;
    min-height: 40px;
  }
}

.tippy-popper {
  &[x-placement^=bottom] [x-arrow].arrow-regular {
    border-bottom-color: $colorWhite;
  }

  .tippy-tooltip {
    background-color: $colorWhite;
    box-shadow: -7px 7px 20px 2px rgba($colorBlack, 0.3);
    padding: $spaceBetweenComponentsXxs;
  }
}
