@import "vars/index.scss";

.mh-passport-registry-form-wrapper {
  background-color: $colorBlue;
  color: $colorWhite;
  padding: 25px 25px 15px 25px;
  border-radius: 7px;

  h1 {
    color: $colorLightestBlue;
    margin: 0 0 20px 0;
    font-size: $fontSizeLg0;
  }
}
