@import "vars/index.scss";

.mh-passport-registry-form-wrapper {
  background-color: $colorBlue;
  color: $colorWhite;
  padding: 20px;
  border-radius: 7px;

  h1 {
    color: $colorLightestBlue;
    margin: 0 0 20px 0;
    font-size: 24px;
  }
}
