@import "vars/index.scss";

.mh-page-title {
  font-size: 28px;
  font-weight: bold;
  display: block;
  word-break: break-word;
  word-wrap: break-word;
  color: $colorDarkGrayTable;
  margin: 16px 0 0 10px;

  @media #{$smDown} {
    margin-bottom: 15px;
  }
}
