@import "vars/index.scss";

.mh-page-title {
  font-size: $fontSizeXl;
  font-weight: bold;
  display: block;
  margin: $spaceBetweenComponentsXxs 0 $spaceBetweenComponentsSm 0;
  word-break: break-word;
  word-wrap: break-word;
  color: $colorBlack;

  @media #{$mdDown} {
    margin-left: 10px;
  }
}
