@import "vars/index.scss";

.mh-page-title {
  font-size: $fontSizeXl;
  text-align: center;
  font-weight: bold;
  display: block;
  margin: $spaceBetweenComponentsXxs 0;
  word-break: break-word;
  word-wrap: break-word;
  color: $colorBlack;
}
