@import "vars/index.scss";

.mh-passport-list-form {
  .mh-form-buttons {
    text-align: center;
  }

  form > div + div {
    margin-top: $spaceBetweenComponentsXs;
  }

  .mh-dropdown-indicator {
    border-color: $colorBlueB4 transparent transparent transparent;
  }

  .start-block {
    margin-top: 13px;
    padding-bottom: 9px;
  }
}
