@import "vars/index.scss";

.mh-passport-changes-page {
  .mh-list {
    margin-top: 0;

    .mh-alert {
      margin-bottom: 15px;
    }
  }

  .mh-facts-list-form .container {
    max-width: 1300px;
    width: 100%;
  }

  .mh-pass-info-container {
    margin-bottom: 30px;
  }
}
