@import "vars/index.scss";

.passport-owned-by {
  border-bottom: 1px $colorGrayB3 solid;
  margin-bottom: 30px;
  padding-bottom: 30px;

  h2 {
    color: $colorDarkGrayTable;
    font-size: 28px;
  }

  .passport-information-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .title {
      display: inline-block;
      min-width: 30%;
      color: $colorGrayB1;

      @media #{$mdDown} {
        min-width: 40%;
      }
    }

    .full-address {
      display: inline;

      @media #{$smDown} {
        display: none;
      }
    }

    .shorten-address {
      display: none;

      @media #{$smDown} {
        display: block;
        margin-top: 10px;
      }
    }
  }
}
